
#### 'Go' codes ;-) 
alias goblue='sudo systemctl unmask bluetooth && sudo systemctl start bluetooth'
alias gocock='sudo systemctl start cockpit.socket'
alias gocode='cd $HOME/Learn/code'
alias godock='sudo systemctl start docker'
alias gogdm='sudo systemctl start gdm'
alias gogit='cp $HOME/pkgs/Best-README-Template/BLANK_README.md README.md && git init'
alias gonet='sudo systemctl start NetworkManager'
alias gopcs='sudo systemctl start pcscd'
alias goplay='cd $HOME/Learn/code/playground'
alias goport='cd $HOME/Learn/code/portfolio'
alias goram='sudo mount -t ramfs -o size=512m ramfs $HOME/working/ramdisk'
alias govr='podman run --cgroup-manager=systemd --privileged --volume jellyfin-config:/config --volume jellyfin-cache:/cache --volume $HOME/working/hold1/VR:/media --net=host jellyfin/jellyfin'
alias golocal='podman run --cgroup-manager=systemd --privileged --volume jellyfin-config:/config --volume jellyfin-cache:/cache --volume $HOME/TRANS/xxx:/media --net=host jellyfin/jellyfin'

### 'Q' codes
alias qpy='docker run -it --rm --name my-running-script -v "$PWD":/usr/src/myapp -w /usr/src/myapp python:alpine python'
alias qnote=' podman run --rm -p 8888:8888 -e JUPYTER_ENABLE_LAB=yes -v "$PWD":/home/jovyan/work localhost/tf-sql-notebook &'

### If macros break
alias show='python $HOME/bin/pyFeh.py `pwd`'
alias vimstuff='vim $HOME/Documents/hidi/VimStuff'
alias -0="pkill feh"

#### Misc. aliases
alias bluedown='sudo systemctl stop bluetooth && sudo systemctl mask bluetooth'
alias cat='bat'
alias docker='podman'
alias dots='/usr/bin/git --git-dir=$HOME/pkgs/dotfiles --work-tree=$HOME'
alias drop='sudo umount /dev/sda*'
alias lg='lazygit'
alias ls='exa'
alias lt='exa --tree -git l'
alias pact='source env/bin/activate'
alias pmv='mpv'
alias podman='podman --cgroup-manager cgroupfs --events-backend file'
alias podup='podman images | grep -v REPOSITORY| awk '{print $1}'| xargs -L1 podman pull'
alias pomo='termdown -t Pomodoro -v en-gb -s 24m'
alias pomopause='termdown -t Pomodoro -v en-gb -s 5m'
alias power='upower -i /org/freedesktop/UPower/devices/battery_BAT1'
alias pt='python -m unittest discover -s ../tests'
alias vim='nvim'
alias v='nvim'
alias vv='vim $HOME/.config/nvim/init.lua'
